<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Your Portfolio Allocation</title>
</head>
<body>
    <h1>Your Portfolio Allocation</h1>
    <div id="stock-weights">
        <h3>Here are the weights of each of the stocks that you own:</h3>
        <ul>
            <li></li>
        </ul>
    </div>
    <div id="sector-weights">
        <h3>These are the percentages that each sector makes up in your portfolio:</h3>
        <ul>
            <li></li>
        </ul>
    </div>
    <div id="suggestions">
        <p></p>
    </div>
    </body>
</html>